<body>
    <h1>Create New Item</h1>
    <form method="POST" action="/items/create">
        <input type="text" name="name" placeholder="item name"><br>
        <input type="text" name="price" placeholder="item price"><br>
        <input type="submit" value="Add Item">
    </form>
</body>