<body>
    <h1>Create New Item</h1>
    <form method="POST" action="/category/store">
        <input type="text" name="name" placeholder="item category"><br>
        <input type="submit" value="Add Category">
    </form>
</body>